body{
	background-color: rgb(138, 27, 27);
	font-family: Georgia, 'Times New Roman', Times, serif;
}
/* design menu options */
#menu
{
	position: fixed;
	width: 100%;
	height: 35px;
	box-shadow: 0 4px 6px rgba(156, 95, 3, 0.1);
	background-color: hsl(27deg 75.52% 38.76% / 67.1%);
	margin-top: 0.0%;
	padding-top: 1%;
	padding-bottom: 1%;
	/* center item and align them in one line */
	align-items: center;
	display: flex;
	gap: 5px; 
	list-style: none; 
	justify-content: center;
	font-size:  19.5px;
	/* for keeping the menue at top in every section */
	z-index: 1000;
}

/* style menu option seperation */
#menu li:not(:last-child)::after {
	content: "|";
	margin: 0 5px;
    color:rgb(26, 116, 8);
    font-weight: bold;
}

/* style each optiom */
#menu li a:hover{
	padding: 5px 10px;
	/* avoiding from each anchor text with 2 word to split in two rows while hover */
	white-space: nowrap;
	color: rgb(26, 116, 8);
	padding: 5px 10px;
}
/* remove underline from each menu option */
#menu li a{
	text-decoration: none;
}

/* design sections headers */
.section h2{
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 40px;
    font-weight: bold;
	color: rgb(26, 116, 8);
	background-color: hsl(27deg 75.52% 38.76% / 67.1%);
}

/* design sub-sections */

.sub-section {
	display: flex;
	align-items: stretch;
	background: hsl(27deg 75.52% 38.76% / 67.1%);
	margin: 20px auto;
	padding: 15px;
	border-radius: 10px;
	max-width: 1250px;
}

.sub-section h3 {
	color: #333;
	font-size: 50px;
	min-height: 50px;
	text-align: center;
}


.sub-section img {
	width: 400px;
	height: 450px;
	border-radius: 10px;
	margin-left: 20px;
}

.image-text {
	position:absolute;
	top: 10px; /* מיקום הכיתוב מלמטה */
	left: 50%;
	transform: translateX(-50%);
	background: rgba(0, 0, 0, 0.5); /* רקע שקוף */
	color: white;
	padding: 10px;
	font-size: 18px;
	border-radius: 5px;
}

.sub-section .text {
	flex: 1;
	text-align: right;
	color: #333;
	font-size: 20px;
}
.sub-section .text:hover {
	color: #c5c7c5bb;
	transform: translateX(5px); /* החלקה קלה */
  }
  


/* Style for photos section */

  .carousel-container {
	display: flex;
	/* adding scroll-bar for easy view for all photos */
	overflow-x: auto; 
	scroll-snap-type: x mandatory; 
	gap: 10px;
	padding: 10px;
	white-space: nowrap;
	scrollbar-width:inherit; 
	scrollbar-color: #ff6f00 #f0f0f0; 
  }


  .carousel-container img {
	/* fixed size for each photo */
	width: 650px; 
	height: 450px; 
	object-fit: cover;
	border-radius: 10px;
	scroll-snap-align: center; 
	transition: transform 0.3s ease-in-out;
  }

  .carousel-container img:hover{
	transform: scale(1.1);
  }

/* style table for web differences */
th, td {
    padding: 12px;
    border: 1px solid #000000;
    text-align: right; 
	font-size: 20px;
	word-wrap: break-word; /* מאפשר לשבור את המילים למטה במקרה הצורך */
    max-width: 200px; /* הגבלת רוחב העמודה */
    white-space: normal; 
}

th {
    background-color: burlywood;
    font-weight: bold;
	font-size: 30px;
}

/* image style in use case 3 */
.image-container {
	display: flex; /* מסדר את התמונות זו לצד זו */
	justify-content: space-evenly;/* מאפשר רווח שווה בין התמונות */
	gap: 10px; /* רווח בין התמונות */
  }
  
  .image {
	width: 45%; /* גודל התמונות כך שיתפסו את אותם הגודל */
	height: auto; /* שומר על פרופורציות התמונה */
	border-radius: 5px; /* עיגול פינות התמונה */
	transition: transform 0.3s ease; /* אפקט חלתה חלקי */
  }
  
  .image:hover {
	transform: scale(1.1); /* הגדלה קלילה בזמן hovering */
  }

/* design form for contact me section */
form {
    display: flex;
    flex-direction: column;
    width: 700px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fce2b1e1;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
	direction: rtl;
}

label {
    margin-top: 10px;
    font-weight: bold;
	font-size: 25px;
}

input, textarea {
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    margin-top: 15px;
    background-color: #2185d0;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #1678c2;
}
