body{
	background-color: rgb(138, 27, 27);
}
/* design menu options */
#menu
{
	position: fixed;
	width: 100%;
	height: 35px;
	box-shadow: 0 4px 6px rgba(156, 95, 3, 0.1);
	background-color: rgb(218, 116, 32);
	margin-top: 0.0%;
	padding-top: 1%;
	padding-bottom: 1%;
	/* center item and align them in one line */
	align-items: center;
	display: flex;
	gap: 5px; 
	list-style: none; 
	justify-content: center;
	font-size:  19.5px;
	font-family: Georgia, 'Times New Roman', Times, serif;
	/* for keeping the menue at top in every section */
	z-index: 1000;
}

/* style menu option seperation */
#menu li:not(:last-child)::after {
	content: "|";
	margin: 0 5px;
    color:rgb(26, 116, 8);
    font-weight: bold;
}

/* style each optiom */
#menu li a:hover{
	padding: 5px 10px;
	/* avoiding from each anchor text with 2 word to split in two rows while hover */
	white-space: nowrap;
	color: rgb(26, 116, 8);
	padding: 5px 10px;
}
/* remove underline from each menu option */
#menu li a{
	text-decoration: none;
}

/* design sections headers */
.section h2{
	display: flex;
	justify-content: center;
	align-items: center;
	font-family:Georgia, 'Times New Roman', Times, serif;
	font-size: 30px;
    font-weight: bold;
	color: rgb(26, 116, 8);
	background-color: rgb(218, 116, 32);
}

/* design sub-sections */
.sub-section {
	display: inline-block;
	width: 40%;
	background-color: rgb(218, 116, 32);
	padding: 20px;
	margin-bottom: 15px;
	border-radius: 5px;
	vertical-align: top; /* מונע קפיצה לשורה חדשה */
	direction: rtl;
}

.sub-section h3 {
	color: #333;
	text-align: center;
}

.sub-section-content {
	display: flex;
	align-items: center; /* יישור התמונה והטקסט לאותו קו */
	gap: 15px; /* רווח בין התמונה לטקסט */
	flex-wrap: nowrap; /* מונע מהתמונה לרדת שורה */
	flex-direction:row-reverse;

}

.sub-sction-img {
	width: 50%; /* התאמה לגודל סביר */
	max-width: 500px; /* מונע שהתמונה תהיה גדולה מדי */
	height: auto; /* שמירה על הפרופורציות */
	border-radius: 15px;
	overflow: hidden;
}

/* design form for contact me section */
form {
    display: flex;
    flex-direction: column;
    width: 500px;
    margin: 20px auto;
    padding: 15px;
    background-color: #f9f9f9e1;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
	direction: rtl;
}

label {
    margin-top: 10px;
    font-weight: bold;
}

input, textarea {
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    margin-top: 15px;
    background-color: #2185d0;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #1678c2;
}
